{% extends 'jokerank/base.html' %}

{% block stat-nav %}class="active"{% endblock %}

{% block title %}Joke Stats{% endblock %}

{% block content %}
<h2>JokeDB Overview</h2>
<hr>

<ul class="nav nav-tabs">
    <li class="active"><a class="tab-a" data-toggle="tab" href="#jokes">Jokes</a></li>
    <li><a class="tab-a" data-toggle="tab" href="#ratings">Ratings</a></li>
    <li><a class="tab-a" data-toggle="tab" href="#raters">Raters</a></li>
</ul>

<div class="tab-content">
    <div id="jokes" class="tab-pane fade in active">
        {% include 'stats/joke-stats.html' %}
    </div>

    <div id="ratings" class="tab-pane fade">
        {% include 'stats/rating-stats.html' %}
    </div>
    <div id="raters" class="tab-pane fade">
        {% include 'stats/rater-stats.html' %}
    </div>
</div>
{% endblock %}



{% block scripts %}
<script type="text/javascript">

    /* On page load, create all charts */
    $(document).ready(function() {
        // joke charts
        createBarChart({{ joke_category_x|safe }}, {{ joke_category_y|safe }}, 'Joke vs. Category', 'joke_vs_category_chart', false);
        createBarChart({{ joke_type_x|safe }}, {{ joke_type_y|safe }}, 'Joke vs. Type', 'joke_vs_type_chart', false);
        createBarChart({{ joke_source_x|safe }}, {{ joke_source_y|safe }}, 'Joke vs. Source', 'joke_vs_source_chart', false);

        // rating charts
        createBarChart({{ num_rating_category_x|safe }}, {{ num_rating_category_y|safe }}, 'Number of Ratings by Category', 'rating_category_count_dist', false);
        createBarChart({{ num_rating_type_x|safe }}, {{ num_rating_type_y|safe }}, 'Number of Ratings by Type', 'rating_type_count_dist', false);
        createBarChart({{ avg_rating_category_x|safe }}, {{ avg_rating_category_y|safe }}, 'Average Rating by Category', 'rating_category_avg_dist', true);
        createBarChart({{ avg_rating_type_x|safe }}, {{ avg_rating_type_y|safe }}, 'Average Rating by Type', 'rating_type_avg_dist', true);

        // rater charts
        createBarChart({{ preferred_joke_genre_x|safe }}, {{ preferred_joke_genre_y|safe }}, 'Preferred Joke Genre', 'preferred_joke_genre');
        createBarChart({{ preferred_joke_type_x|safe }}, {{ preferred_joke_type_y|safe }}, 'Preferred Joke Type', 'preferred_joke_type');
    });

    /* Listener for tab buttons. On changing tabs, resize all charts in the window */
    $('.tab-a').click(function(e) {
        e.preventDefault();
        var $ul = $(this).closest('ul');

        // set active tab
        $ul.find('li').removeClass('active');
        $(this).closest('li').addClass('active');

        // show correct container
        var $tabContent = $('.tab-content');
        $tabContent.find('div.tab-pane').removeClass('active');
        $tabContent.find('div.tab-pane').removeClass('in');

        $tabContent.find($('.tab-pane' + $(this).attr('href'))).addClass('active');
        $tabContent.find($('.tab-pane' + $(this).attr('href'))).addClass('in');

        autoResizeCharts();
    });


    /* Helper function for creating a plotjs BarChart */
    function createBarChart(x, y, title, containerID, ratingLayout) {
        var data = [{
            x: x,
            y: y,
            type: 'bar',
            name: name
        }];
        var layout = {
            title: title,
        };
        if (ratingLayout === true) {
            layout.yaxis = {
                range: [0, 5]
            }
        }
        Plotly.newPlot(containerID, data, layout, {displayModeBar: false});
    }

    /* Function for using d3.js to resize all plotly charts dynamically. */
    function autoResizeCharts() {
        var containers = $('div.plotly-container');
        containers.each(function() {
            var gd3 = Plotly.d3.select('#' + $(this).attr('id'));
            var gd = gd3.node();
            Plotly.Plots.resize(gd);
        });
    };

    /* On window resize, auto resize charts */
    window.onresize = autoResizeCharts;
</script>
{% endblock %}


{% block styles %}
<style>
    .col-centered {
        float: none;
        margin: 0 auto;
    }

    .db-count {
        color: green;

    }
</style>
{% endblock %}
