{% extends 'jokerank/base.html' %}

{% block create-joke-nav %}class="active"{% endblock %}

{% block title %}Add Joke{% endblock %}

{% block content %}
<h2>Create a Joke</h2>
<hr>
<form id="create_joke_form" action="{% url 'jokerank:add_joke' %}" method="POST">
    {% for field in create_joke_form %}
    <div class="form-group">
        <label>{{ field.label|title }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <button class="btn">Create</button>
    {% csrf_token %}
</form>
{% endblock %}