{% extends 'jokerank/base.html' %}

{# override the title portion of base.html #}
{% block title %}All Jokes{% endblock %}

{# override the content portion of base.html #}
{% block content %}
{% if jokes %}
<table>
	<thead>
		<tr>
			<th>Joke Text</th>
			<th>Joke Category</th>
			<th>Joke Type</th>
		</tr>
	</thead>
	<tbody>
		{% for joke in jokes %}
			<tr>
				<td>{{ joke.joke_text }}</td>
				<td>{{ joke.category }}</td>
				<td>{{ joke.joke_type }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
	<h4>There are no jokes.</h4>
{% endif %}
{% endblock %}