{% extends 'jokerank/base.html' %}

{% block login-nav %}class="active"{% endblock%}

{% block content %}
<h2>Login (or <a href="{% url 'signup' %}">Signup</a>)</h2>
<hr>
<form id="login_form" method="POST" action="{% url 'login' %}">
    {% for field in form %}
    <div class="form-group">
        <label>{{ field.label|title }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn">Login</button>
	{% csrf_token %}
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#login_form').find('input').addClass('form-control');
    });
</script>
{% endblock %}