<h2>Sign Up (or <a href="{% url 'login' %}">Login</a>)</h2>
<h4>Starred fields are required.</h4>
<form method="post" action="{% url 'signup' %}">
	{% csrf_token %}
	{% for field in form %}
	<p>
		{% if field.field.required %}
			{{ field.label_tag }}*<br>
		{% else %}
			{{ field.label_tag }}<br>
		{% endif %}
		{{ field }}
		{% if field.help_text %}
			<small style="color: grey">{{ field.help_text }}</small>
		{% endif %}
		{% for error in field.errors %}
  			<p style="color: red">{{ error }}</p>
		{% endfor %}
	</p>
	{% endfor %}
	<button type="submit">Sign up</button>
</form>
