{% extends 'jokerank/base.html' %}

{% block profile-nav %}class="active"{% endblock%}

{% block title %}User Profile{% endblock %}

{% block content %}
<h2>Edit your Features</h2>
<hr>
<div class="panel panel-default">
    {% if user.joke_rater.joke_submitter_id %}
        <div class="panel-body">Joke Submitter ID: {{ user.joke_rater.joke_submitter_id }}</div>
    {% else %}
        <div class="panel-body">No associated joke submitter ID. (Please contact the Data Team with any problems)</div>
    {% endif %}
</div>
<form id="edit_user_profile" action="{% url 'user_profile' %}" method="POST">
    {% for field in joke_rater_form %}
    <div class="form-group">
        <label>{{ field.label|title }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <button class="btn btn-success">Save</button>
    <a href="{% url 'user_profile' %}" class="btn btn-default btn-danger">Discard</a>
    <a href="{% url 'stats:show_stats' %}" class="btn btn-default btn-info" style="margin-left:1em;">Home</a>
    {% csrf_token %}
</form>
{% endblock %}